# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# VSCode
.vscode/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Ignore raw notebooks, but keep HTML outputs
notebooks/*.ipynb


# Logs
*.log

# Notes / local docs
*.txt

# Certificates: ignore all by default, keep only files used by website
Coursera Certificate/*
!Coursera Certificate/certificate_links.csv
!Coursera Certificate/IBM Introduction to Machine Learning.pdf
!Coursera Certificate/Data Visualization with Tableau Project.pdf
!Coursera Certificate/Natural Language Processing with Classification and Vector Spaces.pdf
!Coursera Certificate/Introduction to Computer Vision and Image Processing.pdf
